# Reading and writing the apache parquet format

In [1]:
import pyarrow.parquet as pq

In [2]:
import numpy as np
import pandas as pd
import pyarrow as pa

## Reading and writing single files

In [5]:
df = pd.DataFrame({
    "one" : [-1, np.nan, 2.5],
    "two" : ["foo", "bar", "baz"],
    "three" : [True, False, True]
})
table = pa.Table.from_pandas(df)
print table

pyarrow.Table
one: double
three: bool
two: binary
__index_level_0__: int64
metadata
--------
{'pandas': '{"pandas_version": "0.21.0", "index_columns": ["__index_level_0__"], "columns": [{"metadata": null, "field_name": "one", "name": "one", "numpy_type": "float64", "pandas_type": "float64"}, {"metadata": null, "field_name": "three", "name": "three", "numpy_type": "bool", "pandas_type": "bool"}, {"metadata": null, "field_name": "two", "name": "two", "numpy_type": "object", "pandas_type": "bytes"}, {"metadata": null, "field_name": "__index_level_0__", "name": null, "numpy_type": "int64", "pandas_type": "int64"}], "column_indexes": [{"metadata": null, "field_name": null, "name": null, "numpy_type": "object", "pandas_type": "bytes"}]}'}

In [6]:
pq.write_table(table, "example.parquet")

In [7]:
table2 = pq.read_table("example.parquet")

In [8]:
table2.to_pandas()

   one  three  two
0 -1.0   True  foo
1  NaN  False  bar
2  2.5   True  baz

## Finer-grained reading and writing

In [9]:
parquet_file = pq.ParquetFile('example.parquet')
parquet_file.metadata

<pyarrow._parquet.FileMetaData object at 0x1146f5260>
  created_by: parquet-cpp version 1.4.1-SNAPSHOT
  num_columns: 4
  num_rows: 3
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 1059

In [10]:
parquet_file.schema

<pyarrow._parquet.ParquetSchema object at 0x1146fa368>
one: DOUBLE
three: BOOLEAN
two: BYTE_ARRAY
__index_level_0__: INT64